button.add-card-btn {
	background-color:transparent;
	width: 100%;
	border:1px solid transparent;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px;
	margin:0;
	font-size: 16px;
	color: #4d4d4d;
	text-align: left;
}

button.add-card-btn:hover {
	background: rgba(0,0,0,.15);
	cursor:pointer;
	text-decoration: underline;
}

button.add-card-btn:focus {
	outline:none;
}

button.save-card-btn {
	background-color: green;
	border-radius: 5px;
	border: none;
	font-weight: bold;
	color:white;
	padding: 5px 10px 5px 10px;
	margin: 10px;
}

button.save-card-btn:hover {
	cursor: pointer;
}

.delete-board {
	font-size: 20px;
	color: rgba(0,0,0,.3);
	display: inline-block;
	float: right;
	cursor: pointer;
	margin-right: 15px;
}

.delete-board:hover {
	color: #333;
}

.hidden {
	display:none;
}

.show {
	display:contents;
}

