.list-form {
	text-align: left;
	padding: 0px 15px 0px 15px;
}

label[for="listTitle"] {
	display:block;
	margin: 15px 0px 15px 0px;
	font-weight: bold;
}

#listTitle {
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	color: #4d4d4d;
	min-height: 30px;
	padding:10px 5px 10px 5px;
	margin: 3px 0px 3px 0px;
	border-radius: 5px;
	border:none;
	border-bottom: 1px solid #d3d3d3;
	font-size: 16px;
}

button.list-submit {
	padding: 5px 10px 5px 10px;
	color:white;
	background-color: rgb(90,172,68);
	border:none;
	border-radius: 5px;
	margin: 5px 0px 5px 0px;
}

button.list-submit:hover {
	cursor:pointer;
	background-color:rgb(90,162,10);
}

i.fa-times {
	font-size: 16px;
}

button.close-btn {
	border:none;
	background-color: transparent;
	color: #aaa;
}

button.close-btn:hover {
	cursor: pointer;
	color: #333;
}