.CardForm {
	text-align: left;
	padding: 0px 10px;
}

#newCard {
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	color: #4d4d4d;
	min-height: 30px;
	padding:10px;
	border-radius: 5px;
	border:none;
	border-bottom: 1px solid #d3d3d3;
	font-size: 16px;
}

button.card-submit {
	padding: 5px 10px;
	color:white;
	background-color: rgb(90,172,68);
	border:none;
	border-radius: 5px;
	margin: 5px 0px;
}

button.card-submit:hover {
	cursor:pointer;
	background-color:rgb(90,162,10);
}